.App {
  text-align: center;
  margin: 0;
  padding: 5;
}

.PaddedCard {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
