.App {
  text-align: center;
  margin: 0;
  padding: 5;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.Fab-expander {
  margin-top: 100px;
  margin-bottom: 100px;
}

.Left-header {
  float: left;
}

.Right-header {
  float: right;
}

.PaddedCard {
  padding: 10px;
}
